%% -*- mode:erlang -*-
{erl_opts,
 [debug_info, warnings_as_errors]}.

{deps,
 [ {brod, "3.7.0"}
 , {supervisor3, "1.1.9"}
 , {hut, "1.3.0"}
 ]}.

{dialyzer, [{warnings, [unknown]}]}.

{profiles,
 [ {test, [ {deps, [{proper, "1.2.0"}]}
          , {cover_enabled, true}
          ]}
 , {dev,
    [{plugins, [rebar3_hex]}]}
 ]}.
