%% -*- mode:erlang -*-
{erl_opts,
 [debug_info, warnings_as_errors]}.

{deps,
 [ {supervisor3, "1.1.9"}
 , {epgsql, "4.7.0"}
 ]}.

{dialyzer, [{warnings, [unknown]}]}.

{profiles,
 [ {test, [ {deps, [{proper, "1.2.0"}]}
          , {cover_enabled, true}
          ]}
 , {dev,
    [{plugins, [rebar3_hex]}]}
 ]}.

{xref_checks,
 [ undefined_function_calls
 , deprecated_function_calls
 ]
}.
